.hidden
{
    display:none !important;
}
input
{
    height:3vh;
    width:25%;
    border-radius:0.5rem;
}
button
{
   height:2rem;
    width:5rem;
    border-radius:0.5rem;
    background-color:blue;
    color:white;
    border:none;
    font-size:1.1rem;
}
@media(min-width:
833px){#inputs-container
{
    width:25%;
    display:grid;
    grid-template-columns:1.75fr 2fr;
    gap:1rem;
}
}

#inputs-container
{
    width:100%;
    height:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
}
#whole-container
{
    display:flex;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100vw;
    font-size:1.2rem;
}
#matchh2,#submit-container
{
    grid-column:span 2;
    text-align:center;

}

#submit-container
{
    margin-top:1rem;
}
